@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-primary" >Overview ></a> <!--to go to the expenses page by creating a button-->

    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-outline-secondary">Create/Edit</a> <!--to go to the expenses page by creating a button-->

</div>


