@{
    ViewData["Title"] = "Login";
}

<h1>Sign into Form</h1>

<form>
    <Label>Name</Label>
    <input type ="text" placeholder="Name"/><br />

    <Label>Surname</Label><br />
    <input type="text" placeholder="Surname" /><br />

    <Label>Cellphone</Label><br />
    <input type="text" placeholder="Cellphone" /><br />

    <a class="btn btn-primary">Submit</a>

</form>